# 生成c/c++相关的gitignore内容
*.exe
logs
*.log
*.swp
*.so
*.o
*.obj
*.a
*.dylib
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.lib
*.exp
*.pdb
*.ilk
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcproj.suo
*.vcproj.user
*.ncb
*.sbr
*.vspscc
*.vssscc
*.filters
*.idb
*.pch
*.vs
*.user
*.scc
*.vscodeignore
.DS_Strre
build
dist
__pycache__
*.pyc
*.pyo
*.pyd
*.pyi
*.egg-info
*.egg
